name: gcp-deployer

env:
  DOCKERHUB_NAMESPACE: jkosik
  DOCKERHUB_REPO: gcp-deployer
  TAG: 1.20.5

on:
  push:
    branches: 
      - 'main'
    paths:
#      - "${{ env.DOCKERHUB_REPO }}/Dockerfile"
      - gcp-deployer/Dockerfile
      
  workflow_dispatch:

jobs:
  build_and_push:
    name: Build and push Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          file: ${{ env.DOCKERHUB_REPO }}/Dockerfile'
     
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ env.DOCKERHUB_NAMESPACE }}/${{ env.DOCKERHUB_REPO }}:${{ env.TAG }}
